form{
    margin-top: 20px;
}

.form-control {
    margin-bottom: 8px;
    color: white;
  }
  
  .form-control label {
    font-size: 14px;
    color: white;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: .5px solid #cccccc;
    margin-top: 10px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.112);
    color: #cccccc;
}

 .form-control.checkbox{
  display:flex ;
  align-items: center !important;
  margin-top: 20px;
  gap: 8px;
  
}

.submit-btn{
  background-color: #7bc6fd;
  color:#272c4c;
  border: none;
  font-weight:bold ;
  margin-bottom: 15px;
}

